body {
  background-color: cadetblue;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.participantsBar {
  float: left;
  min-height: 100vh;
  width: 20%;
  border: white 1px solid;
  border-radius: 5px;
}

.mainPanel {
  float: left;
  min-height: 100vh;
  width: 80%;
  padding: 3%;
}

a {
  text-decoration: none;
}

.participantsLabel {
  display: block;
  padding: 10px;
  margin: 10%;
  background-color: yellowgreen;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  color: orange;
}

.list {
  display: inline-block;
}

.participantName {
  background-color: rgb(46, 139, 87, 1);
  border-radius: 10px;
  text-align: center;
  display: block;
  border: solid;
}

/* .container {
  display: grid;
} */

.recordCard {
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  width: 40%;
  height: 450px;
  float: left;
  border-radius: 10px;
  background-color: rgb(46, 139, 87, 0.5);
}

.recordCard:hover {
  scale: 100%;
  background-color: rgba(46, 139, 86, 1);
}

.recordCard button,
.recordCard input {
  width: 30%;
}

button,
input {
  border-radius: 5px;
}

/* ribbon  */
.ribbon {
  text-decoration: none;
  background-color: rgb(46, 139, 87, 1);
  padding: 0.5em 0;
  font-size: 1.5em;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
}

.ribbon::before,
.ribbon::after {
  content: "";
  position: absolute;
  top: 0;
  margin: 0 -1px;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 139, 87, 1);
}

.ribbon::before {
  right: 100%;
}

.ribbon::after {
  left: 100%;
}

/* Tags & Badges*/
.idTag {
  background-color: #fce205;
  width: 50%;
  border-radius: 30px 0px 0px 30px;
  text-align-last: center;
  font-size: 0.7em;
  float: right;
}

.signatureTag {
  float: right;
  background-color: darkcyan;
  text-align-last: center;
  font-size: 0.7em;
  width: 60%;
  border-radius: 10px 10px 10px 10px;
}
